h1{
    color: white;
}

.header{
    background-color : aqua;
    display : flex;
    justify-content: space-between
}
h3{
    text-align: center ;
}
.images{
    display : flex;
    flex-wrap : wrap;
    justify-content: space-evenly;
    
}
.footer{
    display : flex;
    justify-content: flex-end;
}
.item{
    margin : "600px";
}
.item{
    text-align: center ;
}
